html
	head
		title Guestbook
		link(href='/css/default.css', media='all', rel='stylesheet', type='text/css')
		link(href='/css/semantic.min.css', media='all', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='/js/jquery.min.js')
		script(type='text/javascript', src='/js/semantic.min.js')

	body
		h1.ui.header Guestbook
			div.sub.header Let's leave a message

		div.ui.teal.inverted.menu
			a.item(href='/')
				i.home.icon
				!='Home'
			a.active.item(href='/post')
				i.pencil.icon
				!='Post'

		form(action='/post', method='post')
			div.ui.form

				div.field
					label Title
					input(type='text', name='title')

				div.field
					label Message
					textarea(name='text')

				button.ui.green.submit.button Post
